<!-- <p class="notice">我是 _flash.html.erb</p> -->
<%= flash_message(:notice) if flash[:notice] %>
<%= flash_message(:alert) if flash[:alert] %>
<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->