<div class="container-fluid">
    <div class="row">
        <nav class="topnav col-md-12 d-flex justify-content-end align-items-center">
            <li><button type="button" class="btn btn-sm btn-outline-secondary" href="#category">分類</button></li>
            <li><button type="button" class="btn btn-sm btn-outline-secondary" href="#featured">精選</button></li>
            <li><button type="button" class="btn btn-sm btn-outline-secondary" href="#support_me">幫我挑</button></li>
            <li>
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-sm form-control-borderless" type="search" placeholder="Search topics or keywords">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </li>
        </nav>
        <aside class="CheckboxList col-md-3">
            <p>category....</p>
            <div>543</div>
            <div>543</div>
            <div>543</div>
        </aside>
        <main class="col-md-9 row">
            <div class="col-md-8">
                    <button type="button" class="btn btn-sm btn-outline-secondary" href="#support_me">tag</button>
            </div>
            <section class="col-md-4">
                    <button type="button" class="btn btn-sm btn-outline-secondary" href="#support_me">排序</button>
            </section>
            <section class="RestaurantsPageLayout col-md-12 row">
                <div class="card RestaurantsPageLayout-Item col-md-4">
                <img src="https://img.purch.com/h/1400/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn" class="card-img-top" alt="示意圖">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">RestaurantsPageLayout text...</p>
                        
                    </div>
                </div>
                <div class="card RestaurantsPageLayout-Item col-md-4">
                <img src="https://img.purch.com/h/1400/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn" class="card-img-top" alt="示意圖">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">RestaurantsPageLayout text...</p>
                        
                    </div>
                </div>
                <div class="card RestaurantsPageLayout-Item col-md-4">
                <img src="https://img.purch.com/h/1400/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn" class="card-img-top" alt="示意圖">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">RestaurantsPageLayout text...</p>
                       
                    </div>
                </div>
            </section>
        </main>
        <footer class="col-md-12">
            Orderbrother
        </footer>
    </div>
</div>