<div class="dishes__card">
    <div class="dishes__card--desc">
      <p><%= dish.name %></p>
      <p><%= dish.price %></p>
    </div>
    <div class="dish__img">
      <%= image_tag dish.main_img_url if dish.main_img? %>
    </div>
  </div>

