<% if store.errors.any? %>
  <ul>
    <%= store.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">

  <div class="store__header">
    <h1>SHOWING</h1>
  </div>
  <div class="store__body"></div>

</div>