<div class="add_store_page">  
  <h1>建立商店</h1>
  <div class="add_st_list">
    <%#= link_to "建立商店", new_admin_store_path, class: 'btn btn-info' %>
    <%= render 'form', store: @store %>
  </div>
</div>

