<h1>確認訂單</h1>
<table class="cart-table">
    <thead>
        <th>
            <td>餐點品項</td>
            <td>數量</td>
            <td>單價</td>
            <td>小計</td>
        </th>
    </thead>
    
</table>