.show--store__info {
  .show--store__main_img {
    width: 300;
    height: 300;
    padding: 5px;
    img {
      width: 100%;
      display: inline-block
    }
  }
}

.store-list {
  width: 960px;
  
  .store-card {
    background-color: #fff;
    max-width: 300px;
    margin: 5px 5px;
    padding-top: 5px;
  }
}
.dishes__list {
  max-width: 720px;
  min-width: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  .dish_state_0::before {
    content: '售完';
    color: crimson;
    font-size: 24px;
    position: absolute;
    display: inline-block;
  }
}

.dishes__card {
  width: 270px;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3px 5px;
  margin: 5px;
  flex-flow: row nowrap;
  border: 1px solid salmon;
  .btn--function {
    // border-radius: 50%;
  }
  
  .dishes__card--desc {
    display: inline-block;

    .btn-add {
    }
  };
  
  .dish__img {
    box-sizing: border-box;
    display: inline-block;
    height: 75px;
    width: 75px;

    img {
      width: 100%;
    }
  }
}

.add_dish_form.form-control-sm {
  height: auto;
  margin: 0;
  background-color: rgb(168, 249, 249);
  input[type="file"] {
    font-size: 12px;
  }
}
.orders__container {
  background-color: rgba(255, 255, 255, 0.735);
  .orders__card {
    background-color: #fff;
    box-sizing: border-box;
    margin: 10px 5px;
    border: 1px dashed #000000;
  }
}

.store_page{
  background-color: red;
  height: 600px;
}
