/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require address
 *= require admin/transactions
 *= require admin/admin_store
 *= require font-awesome
 *= require page
 *= require stores
 *= require stores/show
 *= require_self
 *= require_tree .
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";

html {
  height: 100%;
}

body {
  padding: 0;
  color: #6c757d;
  background-attachment: scroll, fixed;
  background-position: top left, top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: image-url('paula-vermeulen-URjZkhqsuBk-unsplash.jpg');
    width: auto;
    height: 100%;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background-position: top left, top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}

.test-nav {
  background-color: rgba(255, 255, 255, 0.735);

  li {
    display: inline-block;
  }
}

// .store_page{
//   height: 100vh;
// }

.store__list {
  height: 87vh;
  overflow: auto;
}

.store__list--item {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  min-height: 13rem;

  .store__card {
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;

    .card-body {
      .card-title {
        height: 50px;
        margin-bottom: 0;
      }
    }
  }

  .card-desc {
    height: 50px;
    overflow: auto;
    word-wrap: break-word;
  }
}

.login_nav {
  padding-right: 11px;
  text-align: right;
}

.store__card--img {
  position: relative;
  display: inline-block;
  height: 220px;
  overflow: hidden;
  text-align: center;

  img {
    display: inline-block;
    height: 100%;
    // width: 100%;
    // width: auto;
    max-width: 240px;
    vertical-align: middle;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.error_messages {
  color: rgb(165, 23, 23);
  padding: 0;
  font-weight: 700;
}

.field_with_errors {
  display: inline;

  input {
    border-color: red;
    border-width: 2px;
  }

  label {
    color: rgb(165, 23, 23);
    font-weight: 700;
  }
}

@media screen and (max-width:375px) {

  // 手機用的 nav 排版 
  .main {
    margin-left: 0;
    margin-right: 0;
  }

  .login_nav {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

  }

  .nav {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

  }

  .success-modal h4.modal-title {
    margin-left: 0;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

}

.btn-sm {
  color: #fff;
  border-color: #fff;
}

.search-bar {
  color: #fff;

  &:focus {
    color: #fff;
  }
}