/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 body{ 
  margin:1.5rem 0; 
  padding: 0; 
  color: #6c757d;
  background-attachment: scroll, fixed;
  // background-image: url(background00.jpg);
  background-image: url('bg.jpg');
  // background-image: url('https://pixelarity.com/items/demos/transit/magenta/images/bg.jpg');
  background-position: top left, top center;
  background-repeat: repeat, no-repeat;
  background-size: 100%, cover;
  
  }
body, button, input, select, textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}