.container-fluid{
    .row{
        nav.topnav{
            border-bottom: 1px solid rgba(0,0,0,.08);
            li{
                display: inline-block;
                a{
                    text-decoration: none;
                }
                input{
            
                }
            }
        }
        
        main{
            aside.CheckboxList{
                div{}
            }
            div{}
            section{}
            section .iRestaurantsPageLayout{
        
            }
        }
        
        footer{
            border-top: 1px solid rgba(0,0,0,.08);
        }
    }
}
