.container{
    .nav{ display:none; }
    .notice{ display:none; }
    .alert{ display:none; }
    .container-fluid{
        .row{
            border-radius: 0.5rem;
            background-color: rgba(255, 255, 255, 0.8);
            nav.topnav{
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                background-color: #937f8f80;
                background-image: linear-gradient(90deg, #937f8f80, #5a628480);
                li{
                    display: inline-block;
                    .btn{
                        color:white;
                    }
                    .btn-outline-secondary{
                        border: solid 1px #d5d5d5;
                    }
                    .form-control{
                        background-color: #dfdbdc11;
                        border: 1px solid #d5d5d5;
                    }
                    ::placeholder {
                        color: white;
                      }
                    a{
                        text-decoration: none;
                    }
                }
            }
            
            aside.CheckboxList{
                
                background-image: rgba(255, 255, 255, 0.8);
                .btn-outline-secondary{
                    color:white;
                    border: solid 1px #d5d5d5;  
                }
                .btn{
                    background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.7), rgba(246, 149, 96, 0.7));
                    color:white;
                }
                .card-body{
                    padding:.75rem;
                    ul{
                        display:block;
                        padding:0;
                        li{
                            display:block;
                            
                        }
                    }
                }
            }
            main{   
                min-height: 42rem;
                padding-left:0;
                .tag-arear{
                    min-height: 8.25rem;
                    .tag-arear-show{
                        padding-left:0;
                        .btn-outline-secondary{
                            border: solid 1px #d5d5d5;  
                        }
                        .btn{
                            background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.7), rgba(246, 149, 96, 0.7));
                            color:white;
                        }
                        font-size: 0;
                        button{margin: 1rem .5rem .5rem 0;}
                    }
                }
                .col-md-2{
                    .input-group-append{
                        .btn-outline-secondary{
                            border: solid 1px #d5d5d5;  
                        }
                        .btn{ 
                            background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.7), rgba(246, 149, 96, 0.7));
                            color:white;
                        }
                        button{
                            margin: 1rem;
                        }
                    }
                }
                .RestaurantsPageLayout{
                    overflow: auto;
                    background-color: rgba(255, 255, 255, 0);
                    display: flex;
                    flex-wrap: wrap;
                    padding-right: 0px;
                    padding-left: 0px;
                    .RestaurantsPageLayout-Item{
                        width: 100%;
                        border-radius: 4px;
                        overflow: hidden;
                        min-height: 13rem;
                        padding-right: 0;
                        .card-title{
                            margin-bottom: 0;
                        }
                        .card-text{
                            overflow: auto;
                        }
                    }
                }
            }
            
            footer{
                padding: .75rem 0;
                text-align: center;
                background-color: #f1f1f180;
                color: #616161;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
        .full-screen{
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 10;
			background:rgba(0,0,0,.5);
			display: flex;
			justify-content:center;
			align-items:center;
		}
		.full-screen .text{
			width: 90%;
			max-width: 500px;
			max-height: 80%;
			background:#fff;
			padding: 20px;
			position: relative;
		}
		.full-screen .btn-close{
			position: absolute;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			background-color: #000;
			color:#fff;
			text-decoration: none;
			top: -15px;
			right: -15px;
			border-radius:50%;
		}
    }
}