// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.count-down {
  border-radius: 50px;
  background-color: #ffb326;
  margin: 2px;
}
.count-up {
  border-radius: 50px;
  background-color: #ffb326;
  margin: 2px;
}
.row .js-calc-rs div {
  display: inline;
}
.add_dish_to_cart {
  flex: none;
}
