// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.count-down{
  border-radius: 50px;
  background-color: #cf0;
}
.count-up{
  border-radius: 50px;
  background-color: #cf0;
}
.row .js-calc-rs div{
    display: inline;

}
.row .js-calc-rs div:hover{
  .xx{
    display: block !important;
  }
}

.add_dish_to_cart { flex: none; }

