<div class='orders__container container'>
  <div class='row'>
    <div class='orders__header col-12'>
      <h1>訂單列表</h1>
    </div>
  </div>
  <div class='row'>
    <main class='orders__list col-12'>
      <% @transactions.each do |t| %>
      <div id='order_<%= t.id %>' class='user-orders__card orders__card row col-12'>
        <%= render 'orders__card--body', t: t %>
      </div>
      <% end %>
    </main>
  </div>
</div>