<div class="dishes__card add_new_dish">
  <div class="dishes__card--desc">
    <%= link_to "新增商品", new_admin_store_dish_path(store_id: @store.id), remote: true, class: 'btn btn-success btn--add_dish' %>
  </div>
</div>
