// 按下取消按鈕後，將當前表單替換回商品卡片
$('#dish_id_<%= @dish.id %>').html('<%= j render "added_dishes_card" %>')

<% @dish.errors.full_messages.each do |message| %>
  $('#helpBlock').append('<p class="notice"><%= message %></p>')
<% end %>