$('#dish_id_<%= @dish.id %>').removeClass('dish_state_0').html('<%= j render "form", id: @dish.store.id, url: @url, method: @method %>')

<% @dish.errors.full_messages.each do |message| %>
  $('#helpBlock').append('<p class="notice"><%= message %></p>')
<% end %>